@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model Customer

@{
    ViewBag.Title = "Details";
}


<div class="span7">
<fieldset>
 <legend>Customer details</legend>
	<p>
        <strong>Name: </strong>
         @Html.DisplayFor(model => model.Name)
    </p>
	<p>
        <strong>CompanyNumber: </strong>
         @Html.DisplayFor(model => model.CompanyNumber)
    </p>
   
    <hr />
     <p>
        <strong>Email: </strong>
         @Html.DisplayFor(model => model.Email)
    </p>
	<p>
        <strong>Address: </strong>
         @Html.DisplayFor(model => model.Address)
    </p>
	<p>
        <strong>Zip Code: </strong>
         @Html.DisplayFor(model => model.CP)
    </p>
	<p>
        <strong>City: </strong>
         @Html.DisplayFor(model => model.City)
    </p>
	<p>
        <strong>Phone1: </strong>
         @Html.DisplayFor(model => model.Phone1)
    </p>
	<p>
        <strong>Phone2: </strong>
         @Html.DisplayFor(model => model.Phone2)
    </p>
	<p>
        <strong>Fax: </strong>
         @Html.DisplayFor(model => model.Fax)
    </p>
	
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn primary"})
</p>
</div>

<div class="span12">
    <h2>Last invoices</h2>
    @{Html.RenderAction("LastInvoicesByCustomer", "Invoice", new { id = Model.CustomerID });}
    
    <h2>Last proposals</h2>
    @{Html.RenderAction("LastProposalsByCustomer", "Invoice", new { id = Model.CustomerID });}
</div>