@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model IEnumerable<Customer>

@{
    ViewBag.Title = "Index";
}

<div id="ajaxReponse">

<h1>List <small>of Customer</small></h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn"})
</p>

 <script type="text/javascript">
     $(document).ready(function () {
         $("ul.filtroAlfab a").click(function (e) {
             $.ajax({ url: this.href, success: function (data) {
                 $("#ajaxReponse").html(data);
             }
             });
             return false;
         });
     }); 
</script>





<ul class="filtroAlfab">
@foreach (var letra in "ABCDEFGHIJKLMNÑOPQRSTUVWXYZ")
 {
    if (ViewBag.LetraAlfabetica == letra.ToString())
    {     
    <li><strong class="miembro_seleccionado_letras">@letra</strong></li>
    }
    else
    { 
    <text>
    <li>@Html.ActionLink(letra.ToString(), "Search", "Customer", new { q = letra }, null)</li>
    </text>
     
    }
}
</ul>

<table class="zebra-striped">
    <thead>
        <th>
            Name
        </th>
        <th>
            CompanyNumber
        </th>
       
        <th>
            City
        </th>
        <th>
            Phone1
        </th>
        <th>
            Email
        </th>
        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyNumber)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }, new { @class = "btn primary"}) 
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }, new { @class = "btn"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID }, new { @class = "btn"})
        </td>
    </tr>
}

</table>
</div>