@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model IEnumerable<Customer>

@{
    ViewBag.Title = "Index";
}

<h1>List <small>of Customer</small></h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn"})
</p>
<table class="zebra-striped">
    <thead>
        <th>
            Name
        </th>
        <th>
            CompanyNumber
        </th>
       
        <th>
            City
        </th>
        <th>
            Phone1
        </th>
        <th>
            Email
        </th>
        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyNumber)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }, new { @class = "btn primary"}) 
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }, new { @class = "btn"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID }, new { @class = "btn"})
        </td>
    </tr>
}

</table>