@model iloire_Facturacion.Models.ChangePasswordModel

@{
    ViewBag.Title = "Cambiar contraseña";
}

<h2>Cambiar contraseña</h2>
<p>
    Use el formulario siguiente para cambiar la contraseña. 
</p>
<p>
    Es necesario que las nuevas contraseñas tengan al menos @Membership.MinRequiredPasswordLength caracteres.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "No se realizó el cambio de contraseña. Corrija los errores e inténtelo de nuevo.")
    <div>
        <fieldset>
            <legend>Información de cuenta</legend>

            <div class="clearfix">
                @Html.LabelFor(m => m.OldPassword)
            
                <div class="input-field">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.NewPassword)
                <div class="input">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                 </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.ConfirmPassword)
                <div class="input">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

         	<div class="actions">
                <input type="submit" class="btn primary" value="Login" />
            </div>
        </fieldset>
    </div>
}
