@model iloire_Facturacion.Models.LogOnModel

@{
    ViewBag.Title = "Log in";
}

<div class="container-fluid" id="login">
<div class="span7">
<img class="logo" src="@Url.Content("~/Content/images/logo.png")" height="55" alt="" />

<h2>Log in</h2>
<p>
    Plase enter your email and password to access the application
</p>


@Html.ValidationSummary(true, "There were some errors. Please fix them and try again")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Account information</legend>

             <div class="clearfix">
                @Html.LabelFor(m => m.UserName) 
                <div class="input">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.Password)
                <div class="input">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

             <div class="clearfix">
                 <div class="input">
                     @Html.CheckBoxFor(m => m.RememberMe)
                     <span>Remember me</span>
                </div>
            </div>

    	    <div class="actions">
                <input type="submit" class="btn primary" value="Login" />
            </div>
        </fieldset>
    </div>
}
</div>

</div>