@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model InvoiceDetails

@{
    ViewBag.Title = "Create";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
         <legend>Create InvoiceDetails</legend>

        <div class="clearfix">
            @Html.LabelFor(model => model.InvoiceID, "Invoice")
        
        <div class="input">
            @Html.DropDownList("InvoiceID", String.Empty)
            @Html.ValidationMessageFor(model => model.InvoiceID)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Article)
        
        <div class="input">
            @Html.EditorFor(model => model.Article)
            @Html.ValidationMessageFor(model => model.Article)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Qty)
        
        <div class="input">
            @Html.EditorFor(model => model.Qty)
            @Html.ValidationMessageFor(model => model.Qty)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Price)
        
        <div class="input">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.VAT)
        
        <div class="input">
            @Html.EditorFor(model => model.VAT)
            @Html.ValidationMessageFor(model => model.VAT)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.TimeStamp)
        
        <div class="input">
            @Html.EditorFor(model => model.TimeStamp)
            @Html.ValidationMessageFor(model => model.TimeStamp)
        </div>
		</div>

        <div class="actions">
            <input type="submit" class="btn primary" value="Create" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
        </div>
    </fieldset>
}

