@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model InvoiceDetails
           

<fieldset>
        <legend>InvoiceDetails edition</legend>

        @Html.HiddenFor(model => model.InvoiceDetailsID)
         @Html.Hidden("InvoiceID", Model.InvoiceID)
   

        <div class="clearfix">
            @Html.LabelFor(model => model.Article)
        
        <div class="input">
            @Html.EditorFor(model => model.Article)
            @Html.ValidationMessageFor(model => model.Article)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Qty)
        
        <div class="input">
            @Html.EditorFor(model => model.Qty, "Number")
            @Html.ValidationMessageFor(model => model.Qty)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Price)
        
        <div class="input">
            @Html.EditorFor(model => model.Price, "Currency")
            @Html.ValidationMessageFor(model => model.Price)
        </div>
		</div>


        <div class="clearfix">
            @Html.LabelFor(model => model.VAT)
        
        <div class="input">
            @Html.EditorFor(model => model.VAT, (string)ViewBag.DefaultVAT) %
            @Html.ValidationMessageFor(model => model.VAT)
        </div>
		</div>

        @Html.HiddenFor(model => model.TimeStamp)
 
		<div class="actions">
            <input type="submit" class="btn primary" value="Save" />
            <input type="button" class="btn closeModal" value="Close window" /> 
        </div>
    </fieldset>