@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model IEnumerable<InvoiceDetails>

@{
    ViewBag.Title = "Index";
}

<h1>List <small>of InvoiceDetails</small></h1>

@if (ViewBag.InvoiceID != null)
{
<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.InvoiceID }, new { @class = "btn" })
</p>
}

<table class="zebra-striped">
    <thead>
@*        <th>
            Invoice
        </th>
*@        <th>
            Article
        </th>
        <th>
            Qty
        </th>
        <th>
            Price
        </th>
        <th>
            TOTAL
        </th>
        <th>
            VAT
        </th>
         <th>
          Total plus VAT
        </th> 
       <th></th>
    </thead>

@foreach (var item in Model) {
    <tr>
@*        <td>
            @Html.DisplayFor(modelItem => item.Invoice.Notes)
        </td>
*@        <td>
            @Html.DisplayFor(modelItem => item.Article)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
       
         <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>

         <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.TotalPlusVAT)
        </td>
@*        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
*@        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceDetailsID }, new { @class = "btn primary small"}) 
         @*   @Html.ActionLink("Details", "Details", new { id=item.InvoiceDetailsID }, new { @class = "btn"}) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceDetailsID }, new { @class = "btn small"})
        </td>
    </tr>
}

    <tfoot>
        <tr>
            <td></td>
            <td>@Model.Sum(i=>i.Qty)</td>
            <td>-</td>
            <td>-</td>
            <td>@Model.Sum(i=>i.Total)</td>
            <td>@Model.Sum(i=>i.TotalPlusVAT)</td>
            <td></td>
        </tr>
    </tfoot>

</table>
