@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model IEnumerable<InvoiceDetails>

@{
    ViewBag.Title = "Index";
}

<table class="zebra-striped">
    <thead>
        <th>
            Article
        </th>
        <th width="40">
            Qty
        </th>
        <th width="45">
            Price
        </th>
        <th width="55">
            SubTotal
        </th>
        <th width="45">
            VAT
        </th>
         <th width="55">
          Total
        </th> 
        @if (ViewBag.Print != true){
        <th width="100"></th>
        }
    </thead>

@foreach (var item in Model) {
    var invoiceDetail = "invoiceDetail" + item.InvoiceDetailsID; 
    <tr id="@invoiceDetail">
        <td>
            @Html.DisplayFor(modelItem => item.Article)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
       
         <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.TotalPlusVAT)
        </td>
        @if (ViewBag.Print != true)
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceDetailsID }, new { idInvoiceDetails = item.InvoiceDetailsID, @class = "btn primary small editInvoiceDetails" }) 
         @*   @Html.ActionLink("Details", "Details", new { id=item.InvoiceDetailsID }, new { @class = "btn"}) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceDetailsID }, new { idInvoiceDetails = item.InvoiceDetailsID, @class = "btn small deleteInvoiceDetails" })
        </td>
        }
    </tr>
}

    <tfoot>
        <tr>
            <td><span class="label">TOTALS: </span></td>
            <td>@Model.Sum(i=>i.Qty)</td>
            <td>-</td>
            <td>@Math.Round(Model.Sum(i=>i.Total),2)</td>
            <td>-</td>
            <td>@Math.Round(Model.Sum(i=>i.TotalPlusVAT),2)</td>
            @if (ViewBag.Print != true){
            <td></td>
            }
        </tr>
    </tfoot>

</table>
