@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model Invoice

  <fieldset>
        <legend>Invoice edition</legend>

        @Html.HiddenFor(model => model.InvoiceID)


         <div class="clearfix">
            @Html.LabelFor(model => model.InvoiceNumber)
        
        <div class="input">
            @if (Model.InvoiceID > 0)
            {
                <text>
                    @Html.EditorFor(model => model.InvoiceNumber)
                </text>
            }
            else { 
                 <text>
                  @Html.LabelFor(model => model.InvoiceNumber)
                </text>
            }
            
            @Html.ValidationMessageFor(model => model.InvoiceNumber)
        </div>
		</div>


        <div class="clearfix">
            @Html.LabelFor(model => model.CustomerID, "Customer")
        
        <div class="input">
            @Html.DropDownList("CustomerID", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerID)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Notes)
        
        <div class="input">
            @Html.TextAreaFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.TimeStamp)
        
        <div class="input">
            @Html.EditorFor(model => model.TimeStamp, "Calendar")
            @Html.ValidationMessageFor(model => model.TimeStamp)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.DueDate)
        
        <div class="input">
            @Html.EditorFor(model => model.DueDate, "Calendar")
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>
		</div>

         <div class="clearfix">
            @Html.LabelFor(model => model.AdvancePaymentTax)
        
        <div class="input">
            @Html.EditorFor(model => model.AdvancePaymentTax) %
            @Html.ValidationMessageFor(model => model.AdvancePaymentTax)
        </div>
		</div>

        <div class="clearfix">
            @Html.LabelFor(model => model.Paid)
        
        <div class="input">
            @Html.EditorFor(model => model.Paid)
            @Html.ValidationMessageFor(model => model.Paid)
        </div>
		</div>

		<div class="actions">
            <input type="submit" class="btn primary" value="Save" />
               @if (Model != null && Model.InvoiceID > 0)
               {   <text>
                @Html.ActionLink("Delete", "Delete", new { id = Model.InvoiceID }, new { @class = "btn" })
                </text>
               }
            @Html.ActionLink("Print", "Print", "Invoice", new { id=Model.InvoiceID }, new { target="_blank", @class = "btn" })
			@*@Html.ActionLink("Back to Invoices", "Index", null, new { @class = "btn" })*@
        </div>
    </fieldset>