@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model IEnumerable<Invoice>

@{
    ViewBag.Title = "Index";
}

<h1>List <small>of Invoice</small></h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn"})
</p>

<table class="zebra-striped">
    <thead>
        <th>
            Customer
        </th>
        <th>
            TimeStamp
        </th>
         <th>
            SubTotal
        </th>
         <th>
            Total (with VAT)
        </th>
        <th>
            Paid
        </th>

        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @item.InvoiceDetails.Sum(i => i.Total)
        </td>
         <td>
            @item.InvoiceDetails.Sum(i => i.TotalPlusVAT)
        </td>
        <td>
            
            @if (!item.Paid)
            {
             <span class="label important">UNPAID</span>
            }
            else
            {
            <span class="label success">PAID</span>  
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceID }, new { @class = "btn primary" }) |
            @Html.ActionLink("Details", "Details", new { id = item.InvoiceID }, new { @class = "btn" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceID }, new { @class = "btn" })
        </td>
    </tr>
}

</table>
