@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model IEnumerable<Invoice>

<table class="zebra-striped">
    <thead>
        <th>
            ID
        </th>
        <th>
            Customer
        </th>
        <th>
            Invoice
        </th>
         <th>
            NET Amount
        </th>
        <th>
            Date
        </th>
       
        
    </thead>

@foreach (var item in Model) {
    <tr>
        <td># @item.InvoiceID</td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Invoice", new { id=item.InvoiceID })">
                @Html.DisplayFor(modelItem => item.Notes)
            </a>
        </td>
         <td>
            @Math.Round(item.InvoiceDetails.Sum(i=>i.Total),2) EUR
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
    </tr>
}

</table>
