@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model IEnumerable<Invoice>

<table class="zebra-striped">
    <thead>
        <th width="30">
            ID
        </th>
        <th>
            Customer
        </th>
        <th width="35%">
            Invoice
        </th>
         <th width="90">
            Total to pay
        </th>
        <th  width="80">
            Due Date
        </th>
       
        
    </thead>

@foreach (var item in Model) {
    <tr>
        <td># @item.InvoiceID</td>
        <td>
         <a href="@Url.Action("Edit", "Customer", new { id=item.CustomerID})">
            @Html.DisplayFor(modelItem => item.Customer.Name)
         </a>
        </td>
        <td>
            <a href="@Url.Action("Edit", "Invoice", new { id=item.InvoiceID })">
                @Html.DisplayFor(modelItem => item.Notes)
            </a>
        </td>
         <td>
            @String.Format("{0:C}", item.TotalToPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
              @if (item.DueDate < DateTime.Now)
             {
                 <span class="label important">OVERDUE</span>
             }
        </td>
    </tr>
}

  <tfoot>
        <tr>
            <td colspan=3><span class="label">TOTALS: </span></td>
            <td>@String.Format("{0:C}", Model.Sum(i => i.TotalToPay))</td>
            <td></td>
        </tr>
    </tfoot>
</table>
