@model Purchase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Purchase</legend>

    <div class="display-label">Article</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Article)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">VAT</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VAT)
    </div>

    <div class="display-label">Provider</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Provider.Name)
    </div>

    <div class="display-label">Notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">TimeStamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeStamp)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PurchaseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
