@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model IEnumerable<Purchase>

@{
    ViewBag.Title = "Index";
}

<h1>List <small>of Purchase</small></h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn"})
</p>
<table class="zebra-striped">
    <thead>
        <th>
            Article
        </th>
        <th>
            Price
        </th>
        <th>
            VAT
        </th>
        <th>
            Provider
        </th>
        <th>
            Notes
        </th>
        <th>
            TimeStamp
        </th>
        <th></th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Article)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseID }, new { @class = "btn primary"}) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseID }, new { @class = "btn"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseID }, new { @class = "btn"})
        </td>
    </tr>
}

</table>
<script>
	$(document).ready(function() {
		$("table.zebra-striped").tablesorter({ sortList: [[1,0]] });
	});
</script>

