@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@using MvcPaging;
@model IPagedList<Purchase>

@{
    ViewBag.Title = "Index";
}

<h1>List <small>of Purchase</small></h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn"})
</p>

@{Html.RenderPartial("SearchBoxItems", "Purchase");}

<div class="pagingContainer">
    @{
        RouteValueDictionary r = new RouteValueDictionary();
        r.Add("to", Request["to"]);
        r.Add("from", Request["from"]);
        r.Add("text", Request["text"]);
        }
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, r)
</div>

<table class="zebra-striped">
    <thead>
        <th  width="25%">
            Article
        </th>
        <th>
            Price
        </th>
        <th>
            VAT
        </th>
         <th>
            Total
        </th>
        <th>
            Provider
        </th>
        <th>
            Date
        </th>
        <th width="200"></th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Article)
        </td>
        <td>
            @String.Format("{0:C}", item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAT) %
        </td>
        <td>
            @String.Format("{0:C}", item.TotalWithVAT)
        </td>
        <td>
            <a href="@Url.Action("Details", "Provider", new { id= item.ProviderID})">
            @Html.DisplayFor(modelItem => item.Provider.Name)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseID }, new { @class = "btn primary"}) 
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseID }, new { @class = "btn"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseID }, new { @class = "btn"})
        </td>
    </tr>
}

 <tfoot>
        <tr>
            <td colspan="3"><span class="label">TOTALS: </span></td>
            <td>@String.Format("{0:C}", Model.Sum(i => i.TotalWithVAT))</td>
            <td colspan="3"></td>
        </tr>
    </tfoot>

</table>
