@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model IEnumerable<Purchase>

<table class="zebra-striped">
    <thead>
        <th width="30%">
            Article
        </th>
        <th>
            Price
        </th>
        <th>
            VAT
        </th>
        <th>
            Provider
        </th>
      
        <th with="80">
            Date
        </th>
        @*<th></th>*@
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Edit", "Purchase", new { id=item.PurchaseID})">
                @Html.DisplayFor(modelItem => item.Article)
            </a>
        </td>
        <td>
            @String.Format("{0:C}", item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Provider", new { id=item.ProviderID})">
              @Html.DisplayFor(modelItem => item.Provider.Name)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
     @*   <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseID }, new { @class = "btn primary"})
           
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseID }, new { @class = "btn"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseID }, new { @class = "btn"})
        </td>*@
    </tr>
}

 <tfoot>
        <tr>
            <td><span class="label">TOTALS: </span></td>
            <td>@String.Format("{0:C}", Model.Sum(i => i.TotalWithVAT))</td>
            <td colspan="4"></td>
        </tr>
    </tfoot>

</table>

