  <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
            <li>@Html.ActionLink("Providers", "Index", "Provider")</li>
            <li>@Html.ActionLink("Invoices", "Index", "Invoice")</li>
            <li>@Html.ActionLink("Invoice Details", "Index", "InvoiceDetails")</li>
            <li>@Html.ActionLink("Purchases", "Index", "Purchase")</li>
        </ul>
   </nav>